In [2]:
!pip install tweepy

Collecting tweepy
  Downloading tweepy-3.9.0-py2.py3-none-any.whl (30 kB)
Requirement already satisfied: six>=1.10.0 in d:\software\anaconda\envs\rasa\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in d:\software\anaconda\envs\rasa\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in d:\software\anaconda\envs\rasa\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: oauthlib>=3.0.0 in d:\software\anaconda\envs\rasa\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\software\anaconda\envs\rasa\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\software\anaconda\envs\rasa\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in d:\software\anaconda\envs\rasa\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\software\anaconda\envs\rasa\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in d:\software\anaconda\envs\rasa\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Installing collected packages: tweepy
Successfully installed tweepy-3.9.0

In [1]:
import tweepy
import requests
import pandas as pd

In [2]:
consumer_key = "Ut3PEFtWSaZJVXldCXOZiHmWd" 
consumer_secret = "dRquwZC4LSwVBmiTivKHNFQNFgaxiGf6u1PPJkeU4HR5I2X3RN"
access_key = "4853192350-s7uTQnmjC5Hu0GrQLuyZSLlJbeZOFaTZHbUaoIe"
access_secret = "zVcMcBJQJGlUrQjMr7wMOxjYxzDePv0RDPEiRAj5DoMCI"

In [3]:
auth = tweepy.AppAuthHandler(consumer_key, consumer_secret)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [4]:
auth

In [5]:
api

In [23]:
test_tweet = 'hi, i am not able to select seats for free can you pls assest me'

In [8]:
payload = {"sender":"pranali","message":test_tweet}
headers = {'content-type': 'application/json'}
r = requests.post('http://localhost:5005/webhooks/rest/webhook', json=payload, headers = headers)

NameError: name 'test_tweet' is not defined

In [25]:
for i in r.json():
    bot_message = i['text']
    print(f"{i['text']}")

Our free seats are limited and get occupied very quickly. You can choose auto-assign for free of cost seat or you can check-in at our airport counter where seats are assigned as per the availability. Please visit https://t.co/2dx6eHZYZI for more information.

In [4]:
tweet_response = pd.DataFrame(columns=['Tweet_ID','Test_Tweet', 'Response'])
tweet_response

Empty DataFrame
Columns: [Tweet_ID, Test_Tweet, Response]
Index: []

In [5]:
headers = {'content-type': 'application/json'}

In [8]:
for tweet in tweepy.Cursor(api.search, q='@IndiGo6E'+' -filter:retweets', lang="en",tweet_mode='extended').items(1):
    tweets = tweet.full_text
    t_id = tweet.id
    payload = {"sender":"pranali","message":tweets}
    r = requests.post('http://localhost:5005/webhooks/rest/webhook', json=payload, headers = headers)
    for i in r.json():
        bot_message = i['text']
        tweet_response = tweet_response.append({'Tweet_ID': t_id, 'Test_Tweet': tweets, 'Response': bot_message}, ignore_index=True)

In [9]:
tweet.id

1311346719699787776

In [10]:
tweet.created_at

datetime.datetime(2020, 9, 30, 16, 46, 36)

In [11]:
tweet_response.tail(10)

,Tweet_ID,Test_Tweet,Response
0,1311346719699787776,Same happened with me @IndiGo6E guys is holdin...,You may check the status here: https://t.co/s0...

In [13]:
tweet_response.to_csv("tweets_response_rasa_new.csv",index=False)

In [14]:
tweet_response.shape

(1, 3)

In [119]:
temp_df = pd.DataFrame(columns=['Tweet_ID','Test_Tweet', 'Response'])
temp_df

Empty DataFrame
Columns: [Tweet_ID, Test_Tweet, Response]
Index: []

In [120]:
last_tweet_id = tweet.id - 1
last_tweet_id

1309895286094008319

In [121]:
tweet.created_at      # completed up to

datetime.datetime(2020, 9, 26, 16, 39, 7)

In [113]:
for tweet in tweepy.Cursor(api.search, q='@IndiGo6E'+' -filter:retweets', lang="en",tweet_mode='extended', max_id = last_tweet_id ).items(100):
    if not tweet.in_reply_to_status_id_str:
        tweets = tweet.full_text
        t_id = tweet.id
        payload = {"sender":"pranali","message":tweets}
        r = requests.post('http://localhost:5005/webhooks/rest/webhook', json=payload, headers = headers)
        for i in r.json():
            bot_message = i['text']
            temp_df = temp_df.append({'Tweet_ID': t_id,'Test_Tweet': tweets, 'Response': bot_message}, ignore_index=True)

In [114]:
df = pd.read_csv("tweets_response_rasa_new.csv")
df

,Tweet_ID,Test_Tweet,Response
0,1311346719699787776,Same happened with me @IndiGo6E guys is holdin...,You may check the status here: https://t.co/s0...
1,1311344320889327616,@IndiGo6E Two of my friends are travelling fro...,Out of scope
2,1311342551249481728,For my credit shell with @IndiGo6E flight is a...,Please send your PNR via DM
3,1311342362279378951,Namaste Campaign at the airport by Indigo airl...,Out of scope
4,1311341194870358016,Memory at #Agartala Airport....expecting fligh...,Out of scope
...,...,...,...
608,1310091830575284225,@goibibo Thanks Team for working and refundin...,Welcome!
609,1310091646747291649,@IndiGo6E @goibibo Can you please let me know ...,Can I please know your Surname?
610,1310086529180598272,@IndiGo6E is it possible to anyone complete th...,Out of scope
611,1310084648261672961,"Dear Sir,\nAs the ban is lifted now to China. ...",Out of scope
612,1310083219858038785,With the recent Terminal Change information by...,Out of scope

In [115]:
tweet_response = df.append(temp_df,ignore_index=True)

In [116]:
tweet_response

,Tweet_ID,Test_Tweet,Response
0,1311346719699787776,Same happened with me @IndiGo6E guys is holdin...,You may check the status here: https://t.co/s0...
1,1311344320889327616,@IndiGo6E Two of my friends are travelling fro...,Out of scope
2,1311342551249481728,For my credit shell with @IndiGo6E flight is a...,Please send your PNR via DM
3,1311342362279378951,Namaste Campaign at the airport by Indigo airl...,Out of scope
4,1311341194870358016,Memory at #Agartala Airport....expecting fligh...,Out of scope
...,...,...,...
653,1309904592751058944,Do flights available from nagpur to pune ?\n@I...,You may check the status here: https://t.co/s0...
654,1309901277040644097,@IndiGo6E MHLHQC booking reference has been ca...,Can I please know your Surname?
655,1309900658779107329,Hey @IndiGo6E is there an age limit on traveli...,Out of scope
656,1309895982562250753,@IndiGo6E Just completed my flight in 6E488.....,Welcome!
657,1309895863012134912,@IndiGo6E I have booked air ticket for traveli...,Please send your PNR via DM

In [117]:
tweet_response[tweet_response.duplicated()]

,Tweet_ID,Test_Tweet,Response
197,1310976989902241792,@IndiGo6E hi i am flying to dehradun from mum...,trimmer is allowed in both cabin or check in l...

In [118]:
tweet_response.to_csv("tweets_response_rasa_new.csv", index = False)

In [122]:
tweet_response_new = pd.read_csv("tweets_response_rasa_new.csv")

In [123]:
result = tweet_response_new[tweet_response_new['Response']=='Out of scope']

In [124]:
result.shape

(349, 3)

In [125]:
tweet_response_new.shape

(658, 3)